{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="author-profile-modern">
  <div class="author__avatar-wrapper">
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
      	<img src="{{ author.avatar }}" alt="{{ author.name }}" class="author__avatar-img">
      {% else %}
      	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar-img" alt="{{ author.name }}">
      {% endif %}
      <div class="author__avatar-ring"></div>
    </div>
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if site.subtitle %}<p class="author__subtitle">{{ site.subtitle }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.location and author.location != "" %}<p class="author__location"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons-modern">
      <!-- Academic/Professional Links -->
      {% if author.email %}
        <li class="social-link academic"><a href="mailto:{{ author.email }}" title="Email" class="social-link__item"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li class="social-link academic"><a href="{{ author.googlescholar }}" title="Google Scholar" class="social-link__item"><i class="fas fa-graduation-cap"></i></a></li>
      {% endif %}
      {% if author.orcid %}
        <li class="social-link academic"><a href="{{ author.orcid }}" title="ORCID" class="social-link__item"><i class="ai ai-orcid" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.researchgate %}
        <li class="social-link academic"><a href="{{ author.researchgate }}" title="ResearchGate" class="social-link__item"><i class="fab fa-researchgate" aria-hidden="true"></i></a></li>
      {% endif %}
      
      <!-- Professional Networks -->
      {% if author.linkedin %}
        <li class="social-link professional"><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn" class="social-link__item"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.github %}
        <li class="social-link professional"><a href="https://github.com/{{ author.github }}" title="GitHub" class="social-link__item"><i class="fab fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      
      <!-- Social Media -->
      {% if author.twitter %}
        <li class="social-link social"><a href="https://twitter.com/{{ author.twitter }}" title="Twitter/X" class="social-link__item"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.instagram %}
        <li class="social-link social"><a href="https://instagram.com/{{ author.instagram }}" title="Instagram" class="social-link__item"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      
      <!-- Additional Links -->
      {% if author.uri %}
        <li class="social-link other"><a href="{{ author.uri }}" title="Website" class="social-link__item"><i class="fas fa-link" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
    
  </div>
</div>
